{% extends "base.html" %} {% block head %}
<title>Home</title>
{% endblock %} {% block body %}
<br />
<h1>Home Page</h1>
<br />
<div>
  <div class="bg-light p-5 rounded">
    <div class="col-sm-8 mx-auto">
      <h1>Welcome</h1>
      <p>
        Welcome to the Rohit Ingole Blog. Here we will talk all about Computer science, Machine Learning, and Other Data Science Stuff along with all other intresting things in Computer Science.
      </p>
      <p>
        This link will lead you to
        <a href="https://www.google.com/">google.com</a>
      </p>
      <p>
        <a class="btn btn-primary" href="/posts" role="button">View Blogs</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}